* {
    box-sizing: border-box;
  }
  
  html,
  body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body {
    position: static;
    display: flex;
    flex-direction: column;
    background-color: #18191c;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    // background: linear-gradient(243deg, #18191c 50%, #ffffff 228%);
  }

  a {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: #FFD829;
      transition: color 0.2s;
    }
  }

  .header {

    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 10px 30px;
    box-shadow: 0px 0px 20px 5px rgb(141 139 139);
  

    .header-container {
      max-width: 1640px;
    }

    .button {
      max-width: 100px;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
    }

    .popup {
      position: fixed;
      top: 80px;
      left: calc(50% - 325px);
      z-index: 1;
      display: block;
      // width: 100%;
      max-width: 650px;
      max-height: 750px;
      margin: 0 auto;
      left: 30px;
      right: 30px;
      padding: 0 45px;
      background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 16px;
      transition: all 0.3s ease-out;
      transform: translateY(-130%);
    }

    .open-popup {
      transform: translateY(0);
    }

    .popup-title {
      margin: 25px 0 30px;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 100%;
      text-align: center;
      color: #0D606F;
    }

    .facebook-btn {
      background: #1877F2;
      box-shadow: 0px 0px 3px rgb(13 96 111 / 8%), 0px 2px 3px rgb(13 96 111 / 16%);
      border-radius: 10px;
      text-align: center;
      font-weight: 300;
      font-size: 20px;
      line-height: 26px;

      a {
        display: block;
        padding: 15px 0px;

        svg {
          margin-right: 10px;
        }
      }
    }

    .google-btn {
      margin-top: 20px;
      background: #FFFFFF;
      box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
      border-radius: 10px;
      text-align: center;
      font-weight: 300;
      font-size: 20px;
      line-height: 26px;

      a {
        display: block;
        padding: 15px 0px;
        color: #0D606F;

        svg {
          margin-right: 10px;
        }
      }
    }

    .horizontal-line {
      position: relative;
      display: block;
      margin-top: 30px;
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: rgba(13, 96, 111, 0.5);

    span::before {
      position: absolute;
      content: "";
      width: 46%;
      left: 0%;
      height: 1px;
      top: 45%;
      background-color: rgba(13, 96, 111, 0.5);
    }

    span::after {
      position: absolute;
      content: "";
      width: 46%;
      right: 0%;
      height: 1px;
      top: 45%;
      background-color: rgba(13, 96, 111, 0.5);
    }
  }

    .popup-form {
      display: flex;
      flex-direction: column;

    .popup-label {
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #0D606F;

      .popup-input {
        padding: 15px 10px;
        margin-bottom: 20px;
        max-height: 54px;
        border-radius: 10px;
        border: none;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        box-shadow: 0px 0px 3px rgb(13 96 111 / 8%), 0px 2px 3px rgb(13 96 111 / 16%);
        background: #FFFFFF;
      }
    }

    .popup-button {
      padding: 15px 0px;
      max-width: 560px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      box-shadow: 0px 0px 3px rgb(13 96 111 / 8%), 0px 2px 3px rgb(13 96 111 / 16%);
      border-radius: 10px;
      border: none;
      color: #FFFFFF;
      background-color: #0D606F;
      cursor: pointer;
    }

  }
}


  .form {
    display: flex;
    padding: 50px 30px;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  label {
    position: relative;
    display: flex;
    margin-bottom: 8px;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
  }

  .input-title {
    width: 150px;
    margin-right: 55px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
  }

  .input::after {
    content: "Неккоректный Email";
    display: block;
    position: absolute;
  }

  .input, .button, .select, .checkbox-wrapper, .file-selector {
    width: 350px;
  }

  .input {
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 10px 15px;
    background-color: transparent;
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    -webkit-appearance: none;
    appearance: none;
  }

  .input-textarea {
    width: 350px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 10px 15px;
    background-color: transparent;
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    overflow-x: hidden;
}

  .input:focus, .input-textarea:focus {
    border-color: #FFD829;
    outline: none;
}

  .select {
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 10px 15px;
    background-color: #18191c;
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
  }

  .select:focus {
    outline: none;
    border: 1px solid #ff8630;
  }

  .select-wrapper {
    position: relative;
  }

  .select-wrapper::after {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 14px;
    height: 8px;
    background-image: url("images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  option {
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
  }

  .checkbox-wrapper {
    position: relative;
  }

  .checkbox {
    width: 24px;
    height: 24px;
    opacity: 0;
    margin-right: 15px;
  }

  .checkbox + .checkbox-title::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    left: 0;
    top: calc(50% - 12px);
    border-radius: 6px;
    cursor: pointer;
  }

  .checkbox:checked + .checkbox-title::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #FFD829;
    border-radius: 3px;
    left: 5px;
    top: calc(50% - 7px);
    cursor: pointer;
  }

  .file-selector {
    font-weight: 300;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
  }

  .button {
    display: block;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 9px 15px;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    transition: background-color 0.2s linear;
  }

  .button:hover {
    background-color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }

  .button:focus-visible {
    border: 2px solid #ffffff;
    outline: none;
  }

  .button:focus {
    border: 2px solid #ffffff;
    outline: none;
  }

  .button-yellow {
    background-color: #FFD829;
  }

  .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .hidden {
    display:none;
  }

  #loader {
    width: 350px;
    margin-top: 25px;
    margin-left: auto;
    text-align: center;
  }

  .invalid {
    border: 1px solid red;
  }

  .invalid-text {
    height: 14px;
    color: #FFD829;
    font-size: 14px;
    font-style: italic;
  }

  .invalid-text-area {
    top: 110px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 3%;
    box-shadow: 0px 0px 20px 5px rgb(141, 139, 139);

    .description-container {
      display: flex;
      align-items: center;
      column-gap: 10px;

      .itprofit-link {
        display: inline-block;
        background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);        padding: 5px 8px;
        border-radius: 34px;

        &:hover {
          background: #FFD829;
        }
      }
    }

    .socials-container {
      display: flex;
      align-items: center;
      column-gap: 15px;
      flex-wrap: wrap;
    }

    .tel::before {
      content: url(./src/assets/img/phone.png);
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background-color: #ff8630;
      border-radius: 50%;
      vertical-align: middle;
    }

    .mail::before {
      content: url(./src/assets/img/email.png);
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background-color: #ff8630;
      border-radius: 50%;
      vertical-align: middle;
    }

    .job::before {
      content: url(./src/assets/img/job.png);
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background-color: #ff8630;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
  

  // Modificators 

  .fixed-window {
    position: fixed;
  }